{% extends 'base.html' %}
{% block content %}
<!-- LEED Section -->
  <div class="card-header bg-light">
    <h5 class="mb-0">LEED Certification Overview</h5>
  </div>
  <div class="card-body">

    <!-- Category-specific content blocks -->
    <div id="leed-category-blocks">
        <div class="category-block" id="category-IP" style="display: none;">
         {% include 'projects/leed_category/category_ip.html' %}
        </div>

        <div class="category-block" id="category-LT" style="display: none;">
        {% include 'projects/leed_category/category_lt.html' %}
        </div>

      <div class="category-block" id="category-SS" style="display: none;">
        {% include 'projects/leed_category/category_ss.html' %}
      </div>

      <div class="category-block" id="category-WE" style="display: none;">
        {% include 'projects/leed_category/category_we.html' %}
      </div>

      <div class="category-block" id="category-EA" style="display: none;">
        {% include 'projects/leed_category/category_ea.html' %}
      </div>

      <div class="category-block" id="category-MR" style="display: none;">
        {% include 'projects/leed_category/category_mr.html' %}
      </div>

      <div class="category-block" id="category-EQ" style="display: none;">
        {% include 'projects/leed_category/category_eq.html' %}
      </div>

      <div class="category-block" id="category-IN" style="display: none;">
        {% include 'projects/leed_category/category_in.html' %}
      </div>

      <div class="category-block" id="category-RP" style="display: none;">
        {% include 'projects/leed_category/category_rp.html' %}
      </div>

      <div class="category-block" id="category-ER" style="display: none;">
        {% include 'projects/leed_category/category_er.html' %}
      </div>

      <div class="category-block" id="category-Admin" style="display: none;">
        {% include 'projects/leed_category/category_gi.html' %}
      </div>
    </div>
  </div>

<!-- JavaScript for toggling blocks -->
<script>
  document.getElementById("leed-category-select").addEventListener("change", function () {
    // Hide all category blocks
    const blocks = document.querySelectorAll("#leed-category-blocks .category-block");
    blocks.forEach(block => block.style.display = "none");

    // Show the selected category block
    const selected = this.value;
    const selectedBlock = document.getElementById(`category-${selected}`);
    if (selectedBlock) {
      selectedBlock.style.display = "block";
    }
  });
</script>
{% endblock %}

