{% extends 'base.html'%}
{% block content %}
<h2>Projects</h2>
<table class="table">
  <thead>
    <tr><th>ID</th><th>Created On</th><th>Status</th><th>Actions</th></tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.id }}</td>
      <td>{{ project.created_at }}</td>
      <td>Step {{ project.current_step }}</td>
      <td><a href="{% url 'project_step' project_id=project.id step=project.current_step %}" class="btn btn-sm btn-info">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}